body{
	margin: 0px;
} 
.wraper {
	display: flex;
	flex-direction: column;
	 
}
.header {
	margin: 0px; 
	display: flex;
}
.container{
	height: 170px;
	width: 1500px;
	margin: 0 auto;
	background: #fff;
	display: flex;
	flex-direction: column;
}
.background{
	width: 100%;
	flex: 1 1 auto;
	background: linear-gradient(to bottom, #219653 0%,#fff 50%,#fff 100%);
}
.logo{
	fill-rule:evenodd;
	clip-rule:evenodd;
	fill:#364A5E;
	width: 107px;
	height: 40px;
	display: flex;
	 
}
 .header__menu-first{
	display: flex;
	align-items: center;
	height: 50px;
	width: 1093px;
	position: relative;
	justify-content: center;
 
 }
 .header__menu-list{
	display: flex;
	padding: 0;
	margin: 0;
	font-size: 0;
	color: #33485D;
	text-align: center;
   justify-content: center;
   align-content: center;
 }
 .svg{
	 width: 107px;
 }
 .header__menu-block{ 
	margin: 0 10px;
	position: relative;
	font-size: 14px;
	padding: 5px;
	color: #687786;
	 
 }
 .header__menu-block:hover {
	text-decoration:none;
	border-bottom: 1px solid #33485D;
	 color: #33485D;
	  
  }
 .header__menu-block:first-child{
	list-style: none;
 }

 .first__line{
	display: flex;
	flex-direction: row;
	margin-top: 20px;
	height: 40px;
	font-weight: bold;
	margin-left: 40px;
	margin-right: 40px;
	font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
 }
a {
	 text-decoration: none;
	 color: #33485D;
 }
 .extra__menu {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 400px;
	text-decoration: none;
	color: #33485D;
}
.extra__menu-list{
	display: flex;
}
.extra__menu-list a {
	display: flex;
	align-items: center;
}
 .phone {
	 padding: 5px;
	 }
.phone:hover {
	text-decoration:none;
	border-bottom: 1px solid #33485D;

} 
.language-list{
	display: inline-block;
	align-items: center;
	height: 50px;
	width: 100px;
	position: relative;
	display: flex;
	padding: 0;
	margin: 0;
	font-size: 0;
	color: #33485D;
}
.language-block:first-child{
	list-style: none;
 }
.language-block{
	margin: 0 10px;
	position: relative;
	font-size: 14px;
}
.icons{
	fill: #FFBE48;
	width:  45px;
	height: 20px;
}
.second__line{
	display: flex;
	flex-direction: row;
	margin-top: 20px;
	margin-left: 40px;
	margin-right: 40px;
}
.catalog{
	display:flex;
	width: 433px;
	height: 60px;
	background: #FFBE48;
	border-top-left-radius: 10px;
}
.threes{
	stroke: white;
	stroke-width: 3;
	stroke-linecap: round;
	width: 29px;
	height: 23px;
	padding-left: 16px;
   padding-top: 17px;
}
.catalog__botton{
	background: none;
	border: none;
	display: flex;
   align-items: flex-end;
}
.catalog__text{
	color: #fff;
	font-size: 24px;
	padding-left: 20px;
	font-family: monospace;
}
.dropbtn {
    background-color: #FFBE48;
    color: white;
    font-size: 24px;
    border: none;
    cursor: pointer;
    border-top-left-radius: 10px;
}
.dropdown {
    position: relative;
    display: inline-block;
	 width: 170px;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #fff;
    min-width: 379px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.dropdown-content a {
    color: #3c5874;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.dropdown-content a:hover{
	color: #273747;
}
.show {display: block;}

.category__numeration{
display: flex; 
border-radius: 10px;
flex-direction: row;
flex-wrap: wrap;
align-items: center;
padding: 5px 0 5px 13px;
font-size: 18px;
font-family:sans-serif;
 
}
.category__numeration:hover{
background-color:  #DDE8F0;
font-weight: 600;
}
.category1__img{
	width: 34px;
	height: 34px;
}
.category2__img{
	width: 34px;
	height: 34px;
}
.category3__img{
	width: 34px;
	height: 34px;
}
.category4__img{
	width: 34px;
	height: 34px;
}
.category5__img{
	width: 34px;
	height: 34px;
}
.category6__img{
	width: 34px;
	height: 34px;
}
.category7__img{
	width: 34px;
	height: 34px;
}
.category8__img{
	width: 34px;
	height: 34px;
}
.category9__img{
	width: 34px;
	height: 34px;
}
.category10__img{
	width: 34px;
	height: 34px;
}
.category__switch{
	width: 10px;
	height: 17px;
	padding-left: 169px;
}
.catalog__texts{
	display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    color: #fff;
    margin: 0px 0px 0px 90px; 
    width: 94px;
    border-bottom: 1px solid #fff;
    font-size: 14px;
    height: 27px;
    align-items: center;
    justify-content: center;
    padding-top: 17px;
	 font-family: sans-serif;
}
 .loupes{
	fill: #33485D;
	width: 29px; 
	height: 23px;
 }
 .search{
	 padding-left: 20px;
	 border: none;
	 outline: none;
 }
 .search__form-input{
	width: 698px;
	height: 42px;
	padding-left: 15px;
	border: none;
	background: #DDE8F0;
	border-radius: 20px;
	font-size: 16px;
	color: #33485D ;
	font-family: sans-serif;
 }
 .search__form-button{
	height: 42px;
	width: 42px;
	top: 0;
	right: 0;
	cursor: pointer;
	border: none;
	background: #DDE8F0;
	border-radius: 20px;
 } 
 .search__form{
	width: 773px;
	border-radius: 10px;
	background: #DDE8F0;
 }

 .basket{
	border-top-right-radius: 15px;
	width: 260px;
	padding-left: 20px;
 }
.basket__block{
	display: flex;
	flex-direction: row;
}
.basket__block-lists:last-child{
	border-top-right-radius: 10px;
}
.basket__block-lists:hover{
background-color: #47B39C;
}
.basket__block-lists{
	border: 2px solid #f8a72d91;
padding: 10px 20px 10px 20px;
}
.basket__block-list{
border: 2px solid #f8a72d91;
padding: 10px 20px 10px 20px;
}
 .compares{
	fill: #33485D;
	width: 30px;
	height: 26px;
 }
 .hearts{
	width: 30px;
	height: 24px;
	fill: #33485D;
 }
 .hearts:hover{
	fill: red;
 }
 .carts{
	width: 30px; 
	height: 28px;
	fill: #33485D;
 } 
 .footer {
	 width: 100%;
	 height: 60px;
 }
 .content{
	width: 80%;
	background-color: white;
	height: 100%; 
	margin: 30px auto 0;
 }
 .content__line{
	 display: flex;
	 flex-direction: row;
	width: 100%;
	padding-left: 44px;
	padding-top: 20px;
	height: 14px;
	font-size: 12px;
	color: #33485D;
	opacity: 0.5;
	font-family: sans-serif;
 }
 .product{
	 display: flex;
	 flex-direction: row;
	 margin-top: 19px;
	 padding-left: 40px;
	 width: 1500px;
 }
.product__img{
	display: grid;
	grid-template-columns: 140px calc(100% - 165px);
	width: 710px;
	box-sizing: border-box;
}
.product__img-sold{

}
.ticks{
	width: 20px;
	height: 20px;
	fill: #259756;
}
.tab {
	float: left;
	border: 1px solid #fff;
	background-color: #fff;
	width: 150px;
    height: 560px;
 }
 .tab button {
	display: block; 
	width: 100%;
	border: green;
	outline: none;
	cursor: pointer;
	background:none;
 }
 .tab button:hover {
	 border: green;
 }
 .tab button.active {
	border:2px solid #229754;
	border-radius: 5px;
 }
 .tabcontent {
	float: left;
	padding: 0px 12px;
	border: 1px solid #ccc;
	width: 100%;
	border: none;
	height: 560px;
	display: none;
 }
 .clearfix::after {
	content: "";
	clear: both;
	display: table; 
 }
.product__price{
	margin-top: 20px;
	width: 590px;
	margin-left: 16px;
}
.product__grade{
	display: flex;
	flex-direction: row;
	align-items: center;
}
.product__text{
	padding-left: 10px;
	color: #249755;
	width: 88px;
	align-items: center;
	font-weight: bold;
	font-family: sans-serif;
    font-size: 16px;
}
.product__star{
	display: flex;
	padding-left: 20px;
	width: 151px;
}
.rating-area{
	background: none;
}
.rating-mini {
	display: inline-block;
	font-size: 0;
}
.rating-mini span {
	padding: 0;
	font-size: 25px;
	line-height: 1;
	color: lightgrey;
}
.rating-mini > span:before {
	content: '★';
}
.rating-mini > span.active {
	color: gold;
}
.product__text-code{
	 display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-end;
	 padding-left: 183px;
	 width: 136px;
}
.product__text-two{
	font-size: 14px;
	text-decoration: underline;
	padding-left: 5px;
	padding-top: 3px;
	color: #33485D;
	font-weight: bold;
	font-family: sans-serif;
}
.product__text-tree{
color: #5C6D7D;
width: 64px;
font-family: sans-serif;
font-size: 14px;
font-weight: bold;
opacity: 0.8;
}
.product__text-four{
color: #33485D;
font-weight: bold;
font-family: sans-serif;
font-size: 14px; 
}
.action{
	border: 1px solid;
	width: 590px;
	height: 220px;
	margin-top: 30px;
	border-radius: 10px;
	color: #DDE8F0;
}
.action__data{
	display: flex;
	flex-direction: row;
}
.action__data-text{
	width: 110px;
	height: 60px;
	background: #EB5757;
	border-top-left-radius: 10px;
}
.action__data-text-left{
	text-align: center;
    padding-top: 18px;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    font-size: 24px;
    flex-direction: column;
    color: #fff;
	 font-family: sans-serif;
}
.action__data-day{
	border-top-right-radius: 10px;
    width: 480px;
    height: 60px;
    background: #FDEEEE;
}
.action__data-day-right{
	color: #EB5757;
    display: flex;
    flex-direction: row;
    padding-top: 20px;
    font-size: 16px;
    font-family: sans-serif; 
    padding-left: 20px;
}
.action__price{
	display: flex;
    height: 100px;
    width: 590px;
    flex-direction: row;
}
.action__price-new{
	display: flex;
    color: #EB5757;
    font-size: 36px;
    flex-direction: column;
    justify-content: center;
	 padding-left: 20px;
	 font-weight: bold;
}
.action__price-old{
	font-size: 16px;
	color: #33485D;
	opacity: 0.5;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	align-content: center;
	justify-content: center;
	padding-left: 34px;
    padding-top: 14px;
	 text-decoration: line-through;
	 text-decoration: red  line-through; 
}
.action__basket{
	display: flex;
	flex-direction: row;
	width: 590px;
	height: 60px;

}
.action__basket-left{
	display: flex;
    width: 226px;
    height: 60px;
    background: #219653;
    flex-direction: row;
    align-content: center;
    flex-wrap: wrap;
	 border-bottom-left-radius: 10px;
}
.action__basket-left:hover{
	background: #FFA800;
}
.carts__basket{
	width: 30px;
   height: 30px;
   fill: #fff;
	padding-left: 45px;
}
 
.action__basket-text{
	font-size: 24px;
	padding-left: 20px;
	color: #fff;
	font-family: sans-serif;
}
 .action__basket-center{
	width: 180px;
	height: 60px;
	padding-left: 10px;
 }
 .action__basket-center-table{
	width: 100%;
	border: 2px solid #FFCB6D;
	border-collapse: collapse;
	height: 60px;
 }
 .action__basket-center-block{
	border: 1px solid #FFCB6D;
	padding-left: 28px;
 }
 .action__basket-center-block:hover{
background-color: #FFCB6D;
 }
 .tels{
	fill: #33485D;
	width: 30px; 
	height: 30px;
 }
 .action__basket-right{
	width: 167px;
	height: 60px;
	padding-left: 8px;
 }
 .action__basket-right-table{
	width: 100%;
	border: 3px solid #FFCB6D;
	border-bottom-right-radius: 10px;
	height: 60px;
 }
 .action__basket-right-table:hover{
	 background-color: #FFCB6D;
	}
 .action__basket-right-tel{
	display: flex;
	flex-direction: row;
	padding-top: 7px;
   padding-left: 20px;
 }
 .action__basket-right-tel:hover {
	-webkit-animation: 1.2s ease-in-out 0s normal none infinite running trambling-animation;
	-moz-animation: 1.2s ease-in-out 0s normal none infinite running trambling-animation;
	-o-animation: 1.2s ease-in-out 0s normal none infinite running trambling-animation;
	animation: 1.2s ease-in-out 0s normal none infinite running trambling-animation;
}
@keyframes trambling-animation {
  0%, 50%, 100% {
	 transform: rotate(0deg);
	 -webkit-transform: rotate(0deg);
	 -moz-transform: rotate(0deg);
	 -o-transform: rotate(0deg);
	 -ms-transform: rotate(0deg);
  }
  10%, 30% {
	 transform: rotate(-10deg);
	 -webkit-transform: rotate(-10deg);
	 -moz-transform: rotate(-10deg);
	 -o-transform: rotate(-10deg);
	 -ms-transform: rotate(-10deg);
  }
  20%, 40% {
	 transform: rotate(10deg);
	 -webkit-transform: rotate(10deg);
	 -moz-transform: rotate(10deg);
	 -o-transform: rotate(10deg);
	 -ms-transform: rotate(10deg);
  }
}
 .action__basket-right-text{
	 padding-left: 13px;
	 color: #5C6D7D;
	 font-weight: 600;
    font-family: sans-serif;
    font-size: 14px;
    opacity: 0.9;
 }
 .accordion__info{
	padding-top: 26px;
 }
 .accordion {
	display: flex;
	height: 81px;
	background-color: #fff;
	color: #5C6D7D;
	cursor: pointer;
	padding: 18px;
	width: 100%;
	border: none;
	text-align: left;
	outline: none;
	font-size: 16px;
	transition: 0.4s;
	border-bottom: 1px solid #DDE8F0;
	border-top:1px solid #DDE8F0;
	flex-direction: row;
    align-items: center;
	 font-weight: bold;
}
.active, .accordion:hover {
	background-color: none; 
}
.panel {
	padding: 0 18px;
	display: none;
	background-color: white;
	overflow: hidden;
	color: #5C6D7D;
	line-height: 1.5;
	font-size: 16px;
	font-family: sans-serif;
}
.guarantees{
	width: 18px;
	height: 20px;
	fill: #219653;
	padding-right: 10px;
}
.deliverys{
	width: 20px; 
	height: 20px;
	fill: #219653;
	padding-right: 10px;
}
.payments{
	width: 20px;
	height: 18px;
	fill: #219653;
	padding-right: 10px;
}
.productfeature{
	height: 581px;
	display: flex;
    width: 1500px;
    flex-direction: row;
}
.productfeature__feature{
	padding-left: 163px;
    padding-top: 50px;
}
.productfeature__feature-title{
	width: 588px;
	font-size: 30px;
	color: #229754;
	font-family: sans-serif;
}
.feature{
	color: #33485D;
}
.productfeature__feature-title:first-child(1) {
color: #33485D;
}
.productfeature__feature-table {
	width: 55% ;
 }
 .cur {
	width: 30%;
	color: #5C6D7D;
	font-family: sans-serif;
 }
 .name {  
	overflow: hidden;
	height: 27px;
	font-weight: bold;
	color: #33485D;
	font-family: sans-serif;
 }
 .name span {
	display: inline-block;
	position: relative;
 }
 .name span:after {
	content: '';
	display: inline-block;
	border-bottom: 2px dotted #DDE8F0;
	position: absolute;
	left: 100%;
	right: -9999px;
	bottom: 0;
 }
.productfeature__feature-content{
	padding-top: 32px;
}
.productfeature__feature-link{
width: 170px;
color: #33485D;
font-size: 16px;
font-family: sans-serif;
font-weight: bold;
padding-top: 25px;
padding-bottom: 5px;
}
.productfeature__feature-link:hover{
	border-bottom: 1px solid #33485D;
}
.arrow__svg{
	width: 6px;
	height: 9px; 
	fill: #33485D;
}
.productfeature__comment{
	width: 590px;
	padding-top: 50px;
}
.productfeature__comment-first{
	display: flex;
	flex-direction: row;
	align-items: center;
}
.productfeature__comment-title{
font-size: 30px; 
color: #33485D;
font-family: sans-serif;
padding-right: 136px;
}
.twelve{
	color: #229754;
}
.productfeature__comment-button{
	width: 116px;
	font-size: 16px;
	font-family: sans-serif;
	font-weight: bold; 
	color: #33485D;
	padding-bottom: 5px;
}
.productfeature__comment-button:hover{
	border-bottom: 1px solid #5C6D7D;
}
.recallblock{

}
.recallblock__first{
	padding-bottom: 34px;
	border-bottom: 1px solid #DDE8F0;
}
.recallblock__name{
	display: flex;
   flex-direction: row;
   align-items: center;
	color: #33485D;
    font-size: 16px;
    font-family: sans-serif;
	 font-weight: bold;
	 padding-top: 40px;
}
.data{
  opacity: 0.7;
  font-size: 14px;
  font-weight: normal;
}
.recallblock__star{
	display: flex;
   padding-left: 20px;
   width: 151px;
   flex-direction: column;
	 
}
.recallblock__rating-area{
	background: none;
}
 
.recallblock__rating-mini {
	display: inline-block;
	font-size: 0;
}
.recallblock__rating-mini span {
	padding: 0;
	font-size: 25px;
	line-height: 1;
	color: lightgrey;
}
.recallblock__rating-mini > span:before {
	content: '★';
}
.recallblock__rating-mini > span.active {
	color: gold;
}
.recallblock__text{
	width: 590px;
	font-size: 16px;
	color: #5C6D7D;
	line-height: 1.5;
	font-family: sans-serif;
	padding-top: 15px;
}
.click{
	display: flex;
    flex-direction: row;
    align-content: center;
    flex-wrap: wrap;
    justify-content: space-around;
	 padding: 50px;   
}
.click__border:hover{
	background-color: #FFCB6D;
}
.click__border{
	border: 1px solid #FFA800;
	padding: 10px 25px;
    border-bottom-right-radius: 10px;
    border-top-left-radius: 10px;
}
.callform{
	width: 1440px;
	height: 180px;
	background: #0D4128;
	padding-top: 40px; 
    margin: 40px 20px 0px 20px;
}
.callform__title{
	font-size: 31px;
	color: #fff;
	font-family: sans-serif;
	display: flex;
	flex-direction: column; 
	align-content: center;
	flex-wrap: wrap;
}
.callform__form{
	display: flex;
    width: 586px;
    height: 60px;
    background-color: #fff;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: stretch;
    justify-content: space-between;
    margin-left: 424px;
	 margin-top: 20px;
}
.callform__form-tel{
	border: none; 
	font-size: 16px;
   color: #33485D;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input:active, :hover, :focus {
	outline: 0;
	outline-offset: 0;
	
}
.callform__form-button{
	background-color: #FFA800;
	border-color: #fff;
	width: 213px;
	height: 60px;
	color: #fff;
   font-size: 24px;
}

.footer{
	height: 60px;
	width: 100%;
	margin-top: 40px;
	background-color: #0D4128;
}
.footer__text{
	display: flex;
   justify-content: space-between;
   width: 77%;
   margin: 0px auto 0;
	padding-top: 23px;
}
.footer__text-left{
 color: #FFFFFF;
 opacity: 0.5;
 font-family: sans-serif;
 font-size: 14px;
}

.footer__text-right{
 color: #FFFFFF;
 opacity: 0.5;
 font-family: sans-serif;
 font-size: 14px;
}
